telegram bot.json
{
  "name": "telegram bot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        -384,
        -80
      ],
      "id": "743befc3-91ff-4aeb-9352-6abd38cb0bbe",
      "name": "Telegram Trigger",
      "webhookId": "50ecdff0-9cb5-4932-9ac1-9b10970a409f",
      "credentials": {
        "telegramApi": {
          "id": "24ThdPvCxsGMNLOw",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "4e20251a-774e-4008-9f1f-323a9b15384b"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "15b011f9-9139-4710-acb3-5b6766a3af6f",
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Voice Message"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -176,
        -80
      ],
      "id": "582ad719-25dc-4c2a-83a2-29d3f69b5435",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -64,
        128
      ],
      "id": "aecf59b8-6081-45b9-aca1-f83d7b623383",
      "name": "Get a file",
      "webhookId": "3ee46653-7090-4018-ba79-d077ad04d4e4",
      "credentials": {
        "telegramApi": {
          "id": "24ThdPvCxsGMNLOw",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        160,
        128
      ],
      "id": "c174d5e6-e21d-47c0-99d8-d8a3cb8f25f3",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "9PCAQnNqaTrQa2ED",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "10ce03d9-b0b9-4cec-bd18-7da6b0734f2f",
              "name": "text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        32,
        -96
      ],
      "id": "06b8a986-502b-47e4-905a-63147129dd53",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=User's Message: {{ $('Telegram Trigger').item.json.message.text }}\nChat Id: {{ $('Telegram Trigger').item.json.message.chat.id }}",
        "options": {
          "systemMessage": "You are a helpful assistant. Your task is to provide users with detailed answers to their questions via the telegram app. To access the Telegram app, you should use the MCP client.\nOnce you create a response you should send it via telegram\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        400,
        -80
      ],
      "id": "064b921c-2770-407b-adcc-03bc4ab16986",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-3.5-turbo-0125",
          "mode": "list",
          "cachedResultName": "gpt-3.5-turbo-0125"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        320,
        176
      ],
      "id": "1909378f-fc21-4fbc-8efb-686091ff0c3b",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "9PCAQnNqaTrQa2ED",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.text }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        416,
        128
      ],
      "id": "a39c61d4-579e-4cf9-abd2-93ff9e5a2365",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "endpointUrl": "https://sujansharma.duckdns.org/mcp/fd3ab3f0-b6c6-4b2d-a61b-1870f296bde2",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.3,
      "position": [
        512,
        96
      ],
      "id": "575a3eba-a25d-4191-8f37-cf06dc577c74",
      "name": "MCP Client"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "cf049841-bfa0-465d-a5e1-6ab8ec91ea9d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b7d6ef081878626b8269b121a7cae27853f5c5133626a535d945e3aaff77948c"
  },
  "nodeGroups": [],
  "id": "tPoa0vqEctgbzzI3",
  "tags": []
}